@{ ViewData["Title"] = "Error"; }

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">You are not allowed to access the resource.</h2>

<h3>Login</h3>
<p>
    Please login with an enabled account to gain access to the desired resource.
</p>
<ul class="">
    <li><a asp-area="" asp-controller="Users" asp-action="Login">Login as User</a></li>
</ul>