@using Newtonsoft.Json;
@{
    ViewData["Title"] = "View";
}

<div id="react-content"></div>

<script>
  app.Asian_to(@ViewData["id"], "react-content", @(Html.Raw(JsonConvert.SerializeObject(ViewData["CurrentUser"]))))
</script>